.formDiv {
    border-radius: 12px;
    margin-left: 50px;
    margin-right: 50px;
}

#textInput {
    border-radius: 6px;
    margin-left: 24.9vw;
    font-size: 1.8vw;
}

#submitInput {
    border-radius: 6px;
    margin-right: 50px;
    font-size: 1.8vw;
    background-color: rgb(103, 154, 194);
    color: white;
    border-color: white;
}